<div class="edit-profile-dialog">
  <h1 mat-dialog-title class="modal-header-custom">
    Modifier mon Profil
    <button mat-icon-button class="close-button d-flex" [mat-dialog-close]="null" aria-label="Fermer la fenêtre de dialogue">
      <mat-icon>close</mat-icon>
    </button>
  </h1>

  <div mat-dialog-content>
    <h6 class="text-muted mb-4 mt-3">Mettez à jour vos informations personnelles.</h6>
    <form [formGroup]="editProfileForm">
      <div class="row mb-3">
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Prénom</mat-label>
            <input matInput formControlName="firstName" required>
            <mat-icon matSuffix color="primary">person_outline</mat-icon>
            @if (editProfileForm.get('firstName')?.hasError('required') && editProfileForm.get('firstName')?.touched) {
              <mat-error>
                Le prénom est requis.
              </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nom</mat-label>
            <input matInput formControlName="lastName" required>
            <mat-icon matSuffix color="primary">person_outline</mat-icon>
            @if (editProfileForm.get('lastName')?.hasError('required') && editProfileForm.get('lastName')?.touched) {
              <mat-error>
                Le nom est requis.
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>Adresse Mail</mat-label>
        <input matInput type="email" formControlName="email" required email>
        <mat-icon matSuffix color="primary">email</mat-icon>
        @if (editProfileForm.get('email')?.hasError('required') && editProfileForm.get('email')?.touched) {
          <mat-error>
            L'adresse mail est requise.
          </mat-error>
        }
        @if (editProfileForm.get('email')?.hasError('email') && editProfileForm.get('email')?.touched) {
          <mat-error>
            Format d'adresse mail invalide.
          </mat-error>
        }
      </mat-form-field>

      <h6 class="text-muted mb-4 mt-2">Modifier le mot de passe</h6>
      <mat-form-field appearance="outline" class="w-100 mb-2">
        <mat-label>Nouveau mot de passe</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
        <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Cacher le mot de passe'" [attr.aria-pressed]="hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        @if (editProfileForm.get('password')?.hasError('minlength') && editProfileForm.get('password')?.touched) {
          <mat-error>
            Le mot de passe doit contenir au moins 8 caractères.
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100 mb-2">
        <mat-label>Confirmer le nouveau mot de passe</mat-label>
        <input matInput [type]="hideConfirmationPassword ? 'password' : 'text'" formControlName="confirmPassword">
        <button type="button" mat-icon-button matSuffix (click)="hideConfirmationPassword = !hideConfirmationPassword" [attr.aria-label]="'Cacher le mot de passe'" [attr.aria-pressed]="hideConfirmationPassword">
          <mat-icon>{{hideConfirmationPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint>Laissez vide si vous ne souhaitez pas le changer.</mat-hint>
        @if (editProfileForm.get('confirmPassword')?.hasError('notSame') && editProfileForm.get('confirmPassword')?.dirty) {
          <mat-error>Les mots de passe ne correspondent pas</mat-error>
        }
      </mat-form-field>
    </form>
  </div>

  <div mat-dialog-actions align="end" class="custom-dialog-actions">
    <button mat-stroked-button (click)="onCancel()" class="me-2">Annuler</button>
    <button mat-raised-button color="primary" (click)="onSave()" [disabled]="!editProfileForm.valid">
      <mat-icon>save</mat-icon>
      Enregistrer les modifications
    </button>
  </div>
</div>
