<div
  class="structure-creation-container d-flex align-items-center justify-content-center min-vh-100 p-0 p-md-4"
>
  <mat-card
    class="creation-card w-100 border-0 rounded-4 shadow-sm overflow-hidden"
    style="max-width: 1200px"
  >
    <div class="row g-0">
      <div
        class="col-md-4 order-1 order-md-2 info-section info-section-bg text-white"
      >
        <div class="content-wrapper d-flex flex-column h-100 p-4 p-lg-5">
          <div class="step-indicator text-end">
            <span>Étape 2/2</span>
          </div>

          <div class="title-content text-start">
            <h2>Création de la structure</h2>
            <p>
              Renseignez les informations pour enregistrer votre organisation
              sur notre plateforme.
            </p>
          </div>

          <div class="brand-logo text-center text-md-end mt-auto">
            <img
              src="logo/tickly-logo.svg"
              alt="Tickly Logo"
              class="brand-logo-img"
            />
          </div>
        </div>
      </div>

      <div class="col-md-8 order-2 order-md-1 form-section bg-white">
        <!-- <div
        class="logo-container d-flex flex-column align-items-center flex-md-row mb-4"
        >
        <button mat-stroked-button class="upload-btn">Choisir un Logo</button>
      </div> -->

        <form
          class="structure-form"
          [formGroup]="structureCreationForm"
          (ngSubmit)="onSubmit()"
        >
          <h3 class="form-title">Créer ma structure</h3>
          <div class="form-group d-flex flex-column flex-md-row gap-3 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Nom de la structure</mat-label>
              <mat-icon matPrefix>business</mat-icon>
              <input matInput formControlName="structureName" required />
              @if(structureCreationForm.controls['structureName'].errors?.['required']
              && structureCreationForm.controls['structureName'].touched) {
              <mat-error>Le nom est requis</mat-error>
              }
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Type(s) de structure</mat-label>
              <mat-icon matPrefix>category</mat-icon>
              <mat-select formControlName="structureTypes" multiple required>
                @for (type of structureTypesOptions; track type.id) {
                <mat-option [value]="type.id">{{ type.type }}</mat-option>
                }
              </mat-select>
              @if(structureCreationForm.controls['structureTypes'].errors?.['required']
              && structureCreationForm.controls['structureTypes'].touched) {
              <mat-error>Au moins un type est requis</mat-error>
              }
            </mat-form-field>
          </div>

          <div class="form-group d-flex flex-column flex-md-row gap-3 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Pays</mat-label>
              <mat-icon matPrefix>public</mat-icon>
              <input matInput formControlName="structureCountry" required />
              @if(structureCreationForm.controls['structureCountry'].errors?.['required']
              && structureCreationForm.controls['structureCountry'].touched) {
              <mat-error>Le pays est requis</mat-error>
              }
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Ville</mat-label>
              <mat-icon matPrefix>location_city</mat-icon>
              <input matInput formControlName="structureCity" required />
              @if(structureCreationForm.controls['structureCity'].errors?.['required']
              && structureCreationForm.controls['structureCity'].touched) {
              <mat-error>La ville est requise</mat-error>
              }
            </mat-form-field>
          </div>

          <div class="form-group d-flex flex-column flex-md-row gap-3 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Rue</mat-label>
              <mat-icon matPrefix>signpost</mat-icon>
              <input matInput formControlName="structureStreet" required />
              @if(structureCreationForm.controls['structureStreet'].errors?.['required']
              && structureCreationForm.controls['structureStreet'].touched) {
              <mat-error>La rue est requise</mat-error>
              }
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Numéro</mat-label>
              <mat-icon matPrefix>pin</mat-icon>
              <input matInput formControlName="structureAddressNumber" />
            </mat-form-field>
          </div>

          <div class="form-group mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Description de la structure</mat-label>
              <mat-icon matPrefix>description</mat-icon>
              <textarea
                matInput
                rows="4"
                formControlName="structureDescription"
                maxlength="300"
                #description
              ></textarea>
              <mat-hint align="end"
                >{{ description.value.length || 0 }} / 300</mat-hint
              >
            </mat-form-field>
          </div>

          <!-- Champ Website  -->
          <!-- <div class="form-group mb-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Site Web</mat-label>
              <mat-icon matPrefix>language</mat-icon>
              <input matInput type="url" formControlName="structureWebsite" placeholder="https://votre-site.com" />
              @if(structureCreationForm.controls['structureWebsite']?.errors?.['pattern'] && structureCreationForm.controls['structureWebsite'].touched) {
                <mat-error>Format d'URL invalide</mat-error>
              }
            </mat-form-field>
          </div> -->

          <div
            class="action-buttons d-flex flex-row justify-content-center justify-content-md-end gap-2 mt-4"
          >
            <button
              mat-stroked-button
              type="button"
              class="cancel-btn w-75 w-md-auto mx-auto mx-md-0"
              (click)="onBack()"
            >
              <mat-icon>close</mat-icon>
              Annuler
            </button>
            <button
              mat-flat-button
              class="save-btn w-75 w-md-auto mx-auto mx-md-0"
              [disabled]="
                !structureCreationForm.valid || structureCreationForm.pending
              "
              type="submit"
            >
              <mat-spinner
                *ngIf="structureCreationForm.pending"
                diameter="20"
                style="display: inline-block; margin-right: 8px"
              ></mat-spinner>
              {{
                structureCreationForm.pending
                  ? "Enregistrement..."
                  : "Enregistrer"
              }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </mat-card>
</div>
