:host * {
  transition: var(--transition-medium) !important;
}

.selected-menu-item {
  border-left-color: var(--primary) !important;
  background: rgba(90, 72, 245, 0.05) !important; // var(--primary) with 5% opacity
}

.menu-item {
  border-left: var(--spacing-xs) solid;
  border-left-color: transparent;
}

.indented {
  --mat-list-list-item-leading-icon-start-space: 48px;
}
