<div class="description-section">

    <h2 class="section-title">À propos de cet événement</h2>

    <div class="row">
      <div class="col-md-8">
        <div class="description-content">
          <!-- Description de l'événement -->
          <div class="description-text" [innerHTML]="getDescription()"></div>

          <!-- Catégories / Tags -->
          <div class="event-categories" *ngIf="event?.tags?.length">
            <h3>Tags</h3>
            <div class="categories-list">
              <mat-chip-set>
                <mat-chip *ngFor="let tag of event?.tags">
                  {{ tag }}
                </mat-chip>
              </mat-chip-set>
            </div>
          </div>
        </div>
      </div>

    </div>
</div>
