<div class="structure-card" [class.is-new]="highlightNewStructure">
  <div class="card-header">
    <!-- Image de couverture -->
    <div class="cover-container">
      <div class="structure-cover"
           [style.background-image]="'url(' + (structure.coverUrl || 'images/structure-default-cover.jpg') + ')'">
      </div>
    </div>
    <!-- Bouton de favoris -->
    <div class="favorite-btn-container" *ngIf="showFavoriteButton">
      <button
        mat-icon-button
        class="favorite-btn"
        [class.is-favorite]="isFavorite"
        [matTooltip]="isFavorite ? 'Retirer des favoris' : 'Ajouter aux favoris'"
        (click)="onFavorite()">
        <mat-icon>{{ isFavorite ? 'favorite' : 'favorite_border' }}</mat-icon>
      </button>
    </div>
  </div>
  <div class="card-content">
    <div class="structure-info">
      <div class="content-header">
        <!-- En-tête avec nom et types -->
        <div class="structure-title">
          <h3>{{ structure.name }}</h3>
          <div class="structure-types">
            <mat-chip-listbox>
              <mat-chip *ngFor="let type of structure.types"
                        color="primary"
                        [matTooltip]="type.name || ''"
                        class="type-chip">
                {{ type.name }}
              </mat-chip>
            </mat-chip-listbox>
          </div>
          <div>
            <span class="structure-address">{{ structure.city }}</span>
          </div>
        </div>

        <!-- Logo à droite -->
        <div class="structure-logo" *ngIf="structure.logoUrl">
          <img [ngSrc]="structure.logoUrl" [alt]="structure.name + ' logo'" width="70" height="70" />
        </div>
      </div>
    </div>

    <!-- Boutons d'action -->
    <div class="card-actions" *ngIf="showActions">
      <button mat-flat-button color="primary" class="action-btn details-btn" (click)="onViewDetails()">
        <mat-icon>visibility</mat-icon>
        Voir détails
      </button>
      <button mat-stroked-button color="accent" class="action-btn events-btn" [routerLink]="['/structures', structure.id]" fragment="events-section">
        <mat-icon>event</mat-icon>
        Événements
      </button>
    </div>
  </div>
</div>
