<div class="container">
  <div class="row d-flex justify-content-center align-content-center">
    <div class="col-12">
      <app-event-filters></app-event-filters>
    </div>
  </div>
  <div class="row d-flex justify-content-center align-content-center">
    <div class="col-12">
      @for (event of events; track event.id; let i = $index) {
        @if (event) {
          <app-event-list-item [event]="event"></app-event-list-item>
        } @else {
          <p>Chargement de l'événement...</p>
        }
      }
    </div>
  </div>
</div>

